<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Sign Up - Routine</title>

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="d-flex justify-content-center">
				<div class="error-message">
					<i class="fa-solid fa-triangle-exclamation"></i>
					<h2>Oops!</h2>
					<h5>400 - Incorrect parameters</h5>
					<p>The operation you are trying to do is not available</p>
				</div>
			</div>
		</div>
	</div>

	<script src="js/script.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
