nav {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	display: flex;
	padding: 10px;
}

.navbar-brand {
	margin-left: 20px;
	color: black;
	font-size: 24px;
	padding: 10px 20px;
	text-decoration: none;
	cursor: pointer;
}

.navbar {
	margin-left: 10px;
	list-style-type: none;
}

.nav-item {
	display: inline-block;
	margin-right: 0px;
}

.nav-link {
	padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
	text-decoration: none;
	align-items: center;
	align-content: center;
	padding: 10px;
	border-radius: 8px;
	margin-top: 5px;
	margin: 0px;
	margin-left:42px;
	cursor: pointer;
}

.nav-link:hover {
	background-color: #d4a55d;
}