
.websitelogo{
    max-width: 100px;
    max-height: 100px;
    margin-left: 20px;
}
.navbar{
    display: inline-flex;
    background-color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    width: 209vh;
    max-height: 100px;
}
.nav-wrapper{
    margin-left:50px;
    margin-top: 30px;
}
.navs{
    text-decoration: none;
    color: black;
    margin-left: 50px;
    font-size: 4cqb;
    font-weight: bold;
    
}
.subbody{
    font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-container {
	background-color: #A0DDF7;
    opacity: 80%;
	border-radius: 20px;
	padding: 20px;
	width: 350px;
	text-align: center;
    margin-top: 50px;
    height: 420px;
}
.password{
	margin-left:-260px;
}
.email{
	margin-left:-288px;
}
.login-container h1 {
	margin-top: 30px;
	color: black;
}

.login-container form {
	display: grid;
	flex-direction: column;
}

.login-container label {
	margin-bottom: 8px;
	color: black;
}

.login-container input {
	padding: 8px;
	margin-bottom: 30px;
	margin-right: 10px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 15px;
}

.login-container input[type="email"], .login-container input[type="password"]
	{
	background-color: white;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.login-container button {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
	border-radius: 10px;
	background-color: #56B9FF;
	border: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	height: 40px;
	padding: 3px;
	width: 150px;
	cursor: pointer;
}

.login-container button:hover {
	background-color: #F7B030;
}

.login-container .container {
	margin-top: 10px;
}

a {
	color: rgb(13, 83, 154);
}
.container{
	color:black;
}
input[type=submit]:hover, a:hover {
	opacity: 0.8;
}
.footer{
    background-color: #5A5A5A;
    display: flex;
    align-items: center;
	justify-content: center;
    color: white;
    height: 50px;
    margin-top:73px;
    margin-left: -10px;
    margin-right: -10px;
}