body {
	font-family: Arial, sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.login-container {
	background-color: white;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px
		-12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px
		12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	padding: 20px;
	width: 400px;
	height: 500px;
	text-align: center;
}

.login-container h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	color: black;
}

.login-container form {
	display: grid;
	flex-direction: column;
}

.login-container label {
	margin-bottom: 8px;
	color: black;
}

.login-container input {
	padding: 8px;
	margin-bottom: 30px;
	margin-right: 10px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
}

.login-container input[type="email"], .login-container input[type="password"]
	{
	background-color: white;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
		rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.login-container button {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
	border-radius: 10px;
	background-color: wheat;
	border: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	height: 40px;
	padding: 3px;
	width: 150px;
	cursor: pointer;
}

.login-container button:hover {
	background-color: #d4a55d;
}

.login-container .container {
	margin-top: 10px;
}

a {
	color: rgb(13, 83, 154);
}

input[type=submit]:hover, a:hover {
	opacity: 0.8;
}