body {
	font-family: Arial, sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.signup-container {
	background-color: white;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px
		-12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px
		12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	padding: 20px;
	width: 400px;
	height: 580px;
	text-align: center;
}

.signup-container h1 {
	margin-top: 20px;
	margin-bottom: 30px;
	color: black;
}

.form {
	margin-top: 0px;
	display: grid;
	flex-direction: column;
	text-align: center;
}

.input {
	padding: 8px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top: 5px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	background-color: white;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
		rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.button {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
	border-radius: 10px;
	background-color: wheat;
	border: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	height: 40px;
	padding: 3px;
	width: 150px;
	cursor: pointer;
}

.button:hover {
	background-color: #d4a55d;
}
eye{
	margin-top:-20px;
	cursor: hover;
}