<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Flight</title>
<link rel=" stylesheet" href="css/addFlight.css">
</head>
<body>
	<div class="disclaimer">
		<h1>Before you add flight!</h1>
		Lorem IpsumDiam, aptent varius eleifend penatibus placerat posuere.
		Amet suscipit ad iaculis varius habitant. Turpis etiam cubilia
		tincidunt sociis mi vitae laoreet. Volutpat praesent, nisi leo. Vel
		nisl enim porta natoque gravida. Nostra sociosqu turpis dictum natoque
		vehicula sollicitudin metus etiam ut mollis? Augue velit, est natoque.
		Nostra sociosqu turpis dictum natoque vehicula sollicitudin metus
		etiam ut mollis? Augue velit, est natoque. Nostra sociosqu turpis
		dictum natoque vehicula sollicitudin metus etiam ut mollis? Augue
		velit, est natoque. Nostra sociosqu turpis dictum natoque vehicula
		sollicitudin metus etiam ut mollis? Augue velit, est natoque.
	</div>
	<div class="add-flight-container">
		<h1>Add Flight</h1>
		<form class="form" action="/add-flight" method="post">
			<p th:if="${error}" style="color: red" th:text="${error}"></p>
			<div class="dropdown">
				<label>Departure Airport</label> 
				<input type="text" name="depAirport" id="searchInput" class="box" required>
				<div id="dropdownList" class="dropdown-list"></div>
			</div>
			<div class="dropdown2">
				<label>Destination Airport</label> 
				<input type="text" name="desAirport" id="searchInput2" class="box2" required>
				<div id="dropdownList2" class="dropdown-list2"></div>
			</div>
			<label>Departure Time</label> 
			<input type="time" class="input2" name="depTime" required> 
			<label>Arrival Time</label> 
			<input type="time" class="input2" name="arrivalTime" required> 
			<label>Capacity</label>
			<input type="number" class="input" name="capacity" id="capacity" required> 
			<label>Price</label>
			<input type="number" inputmode="decimal" name="price" class="input" id="price" required> 
			<label>Airline Name</label> 
			<input type="text" class="input" name="airline" id="name" required>
			<br>
			<button type="submit" class="button">Add Flight</button>
		</form>
	</div>

</body>
<script src="js/home.js">
	
</script>
</html>