<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>adminDashboard</title>
    <link rel="stylesheet" href="css/adminDashboard.css">
</head>

<body>
    <div class="navbar">
        <img src="image/website logo.png" alt="Website Logo" class="websitelogo" />
        <div class="nav-wrapper">
        </div>
        <div class="profiles">
            <img src="image/profile.png" class="profile" id="profileImg" alt="Profile Image">
            <div class="popup" id="popupDiv">
                <img src="image/profile.png" class="profile1" alt="Profile Image">
                <p>Welcome <span th:text="${fullname}"></span></p>
                <button onclick="redirectToLogout()" class="Logout">Logout</button>
            </div>
           <p>Welcome <span th:text="${fullname}"></span></p>
        </div>

    </div>

    <div class="header">
        <div class="buttons">
            <div class="btn-wrapper">
                <li class="btn-login" style="margin-right: 110px;"><a href="/booked-flights">Today's Flights</a></li>
                <li class="btn-login"><a href="/history">Flight History</a></li>
            </div>
            <div class="btn-wrapper">
                <li class="btn-login" style="margin-right: 110px;"><a href="/pending">Pending Flight</a></li>
                <li class="btn-login"><a  href=" /flown-flights">Flown Flights</a></li>
            </div>
            <div class="btn-wrapper">
                <li class="btn-login" style="margin-right: 110px;"><a href="/add-public-flight">Add Public Flight</a>
                </li>
                <li class="btn-login"><a href="/add-flight">Add New flight</a></li>
            </div>
            <div class="btn-wrapper">
                <li class="btn-login" style="margin-left: 150px;"><a href="/view-flights">View all Flights</a></li>
            </div>
        </div>

        <div class="instructions">
            <h2>Welcome to Your Dashboard <span th:text="${fullname}"></span></h2>
            <div class="instruction">
                1. Viewing Today's Flight Sales: Navigate to the "Today's Flight" button on the left. From there, you
                can explore all the flights scheduled for today, categorized as follows:
                <br>
                - Fully Booked Flights: All seats are booked.
                <br>
                - Partially Booked Flights: Some seats are booked, and some are available.
                <br>
                - Untouched Flights: No seats are booked yet.
                <br>
                <br>
                2. Flight History: Access your own flight history by selecting the "Flight History" button on the
                left. You can also view details of the passengers you booked flights for.
                <br>
                <br>
                3. Pending Flights: Check your pending flights by clicking on the "Pending Flights" button on the
                left. You can also review passenger details for these flights.
                <br>
                <br>
                4. Flown Flights Database: Explore all flights recorded in our database by clicking on the "Flown
                Flights" button. You'll find passenger information for each flight.
                <br>
                <br>
                5. Adding Public Flights: Use the "Add Public Flight" button on the left to add a flight for a
                specific future date. Remember, these flights are only scheduled for the chosen day and are not
                automated by the system.
                <br>
                <br>
                6. Adding New Scheduled Flights: Utilize the "Add New Flight" button on the left to schedule flights
                automatically for everyday use. Exercise caution, as the system will schedule these flights instantly
                for today up to 12 days ahead. Contact a developer if you need assistance.
                <br>
                <br>
                7. Viewing System Flights: Click on "View All Flights" to see all flights used by the system as a
                data source for scheduling. You can edit or delete these flights, but proceed with caution.
                <br>
                <br>
                8. Booking Flights: Search and book any flight below by entering desired airports and departure
                date. Use the search feature to find and book your preferred flights.
                <br>
                <br>
                Remember to review these instructions thoroughly before proceeding. If you encounter any confusion or
                need assistance, don't hesitate to contact a developer. Happy navigating!
            </div>

        </div>

        <div class="search-container">
            <form action="/admin-flight-result">
                <p th:if="${error}" style="color: red" th:text="${error}"></p>
                <div class="inputs">
                    <div class="input-wrapper">
                        <label for="from">From:</label>
                        <div>
                            <input class="input" type="text" id="searchInput" name="depAirport" required>
                            <div id="dropdownList" class="dropdown-list"></div>
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <label for="to">To:</label>
                        <div>
                            <input type="text" class="input" id="searchInput2" name="desAirport" required>
                            <div id="dropdownList2" class="dropdown-list2"></div>
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <label for="date">Date:</label>
                        <input type="date" class="inputdate" id="date" name="depDate" required>
                    </div>

                    <button type="submit">
                        <img class="searchicon" src="image/icon _search.png" alt="Search Icon" />
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">ⓒ 2024 | Sundar Travels | All Rights Reserved</div>
</body>
<script src="js/userDashboard.js"></script>
</html>