<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>All Flights</title>
<link rel=" stylesheet" href="css/confirm.css">
</head>

<body>
	<div class="container1">
		<div class="h1">
			<h5>Your Flight</h5>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>Departure Date</th>
					<th>Departure Airport</th>
					<th>Destination Airport</th>
					<th>Departure Time</th>
					<th>Arrival Time</th>
					<th>Flight Name</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="f :${flight}">
					<td>[[${f.depDate}]]</td>
					<td>[[${f.depAirport}]]</td>
					<td>[[${f.desAirport}]]</td>
					<td>[[${f.depTime}]]</td>
					<td>[[${f.arrivalTime}]]</td>
					<td>[[${f.airline}]]</td>
					<td th:text="${price}"></td>
				</tr>
			</tbody>
		</table>
	</div>


	<div class="container2">
		<div class="h1">
			<h5>Passenger/s Informations</h5>
		</div>

		<table class="table2">
			<thead>
				<tr>
					<th>Full Name</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Age</th>
					<th>Gender</th>
					<th>Nationality</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="p :${passengers}">
					<td>[[${p.fullName}]]</td>
					<td>[[${p.phone}]]</td>
					<td>[[${p.email}]]</td>
					<td>[[${p.age}]]</td>
					<td>[[${p.gender}]]</td>
					<td>[[${p.nationality}]]</td>
				</tr>
			</tbody>
		</table>
	</div>

	<li class="button1"><a class="nav-link1" href="/cancel">Cancel
			Booking</a></li>
	<li class="button2"><a class="link" href="/final">Confirm
			Booking</a></li>

</body>

</html>