<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editFlight</title>
    <link rel=" stylesheet" href="css/addFlight.css">
    <style>
        .wrapper {
            background-image: url(image/signupBackground.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -20px;
            margin-right: -8px;
            height: 600px;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <img src="image/website logo.png" alt="Website Logo" class="websitelogo" />
    </div>
    <div class="wrapper">
        <div class="container">
            <p th:if="${error}" style="color: red" th:text="${error}"></p>
            <form class="form" id="container" action="/update" th:object="${flight}">
                <h3>Edit Flight</h3>
                <div class="wrappers">
                    <div class="wrap">
                        <label style="margin-left: -140px;">Departure Airport</label>
                        <input type="text" th:field="*{depAirport}" class="input" name="depAirport" id="searchInput" required>
                        <div id="dropdownList" class="dropdown-list"></div>
                    </div>
                    <div class="wrap">
                        <label style="margin-left: -130px;">Destination Airport</label>
                        <input type="text" th:field="*{desAirport}" class="input" name="desAirport" id="searchInput2" required>
                        <div id="dropdownList2" class="dropdown-list2"></div>
                    </div>
                </div>
                <div class="wrappers">
                    <div class="wrap">
                        <label for="email" style="margin-left: -145px;">Departure Time</label>
                        <input type="time" th:value="${formattedDepTime}" class="input" name="depTime" required>
                    </div>
                    <div class="wrap">
                        <label style="margin-left: -165px;">Arrival Time</label>
                        <input type="time" th:value="${formattedArrivalTime}" class="input" name="arrivalTime" required>
                    </div>

                </div>
                <div class="wrappers">
                    <div class="wrap">
                        <label style="margin-left: -190px;">Capacity</label>
                        <input type="number" th:field="*{capacity}" class="input" name="capacity" id="capacity" required>
                    </div>
                    <div class="wrap">
                        <label style="margin-left: -215px;">Price</label>
                        <input type="number" th:field="*{price}" inputmode="decimal" class="input" name="price" id="price" required>
                    </div>

                </div>
                <div class="wrappers">
                    <div class="wrap">
                        <label style="margin-left: -160px;">Airline Name</label>
                        <input type="text" th:field="*{airline}" class="input" name="airline" id="name" required>
                    </div>
                    <input type="hidden" th:field="*{id}">
                    <button class="button" type="submit">Update</button>
                </div>
                
            </form>
        </div>
    </div>

    <div class="footer">ⓒ 2024 | Sundar Travels | All Rights Reserved</div>
</body>
<script src="js/home.js">

</script>

</html>