<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>eSewa Login</title>
<link rel=" stylesheet" href="css/esewa.css">
</head>
<body>
	<div class="green">
		<h1>here</h1>
	</div>
	<div class="login-container">
		<img src="image/brand-logo-dz.svg" >
		<h3>Welcome</h3>
		<h4>Please enter your credentials</h4>
		<form action="/payment" method="post">
			<div class="form-group">
				<label for="userId">eSewa ID</label> <input type="email" id="userId"
					class="input" placeholder="eSewa email id" name="id" required>
			</div>
			<div class="form-group">
				<label>ID name</label> <input type="text"
					id="regname" placeholder="Full name registered in Esewa" name="name" required>
			</div>
			<div class="form-group">
				<button type="submit">Next</button>
			</div>
		</form>

	</div>
	<div class="copyright">© 2009-2024 eSewa. All Rights Reserved</div>

</body>
<script src="js/payment.js">
    </script>
</html>
