<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>flightResult</title>
    <link rel=" stylesheet" href="css/flightresult.css">
    <style>
    </style>
</head>

<body>
    <div class="navbar">
        <img src="image/website logo.png" alt="Website Logo" class="websitelogo" />

    </div>
    <div class="container">
        <div class="h1">
            <h1>Available Flights</h1>
        </div>
        <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Departure Date</th>
                    <th>Departure Airport</th>
                    <th>Destination Airport</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Flight Name</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="f :${availableFlights}">
                    <td>[[${f.depDate}]]</td>
                    <td>[[${f.depAirport}]]</td>
                    <td>[[${f.desAirport}]]</td>
                    <td>[[${f.depTime}]]</td>
                    <td>[[${f.arrivalTime}]]</td>
                    <td>[[${f.airline}]]</td>
                    <td>[[${f.price}]]</td>
                    <td><a th:href="@{/book(id=${f.id})}" style="text-decoration: none;"><input type="Submit"
                                class="button" value="Book"></a></td>
                </tr>
            </tbody>
        </table>
        </div>
        
    </div>
    <div class="footer">ⓒ 2024 | Sundar Travels | All Rights Reserved</div>
</body>
<script src="js/viewFlights.js">
</script>

</html>