<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>SuccessFull (Under Development page)</h1>
<h2>Ticket Booking Has Been successful and this page will send generated Bill to your email address and show you your bill too.</h2>

<h3>But PDF generation for boarding pass or bill is currently being developed. Also, Backend for flight History for both flown and pending flight is done but frontend page is being developed which is expected to be finished by friday evening.</h3>
<h3>JavaScript validations for input type phone number name etc is left which will be done after all backend is completed</h3>
<h3>All ticket booking process should function as intended if user does everything correctly</h3>
<h3>Some redirection and session validation might have bugs which will soon be solved</h3>
<h3></h3>
</body>
</html>