<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<title>Login Form</title>
<link rel=" stylesheet" href="css/login.css">
<style>
body {
	max-height: 100vh;
    overflow: hidden;
    background-image: url('image/loginbackground.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
</style>
</head>
<body>
    <div class="navbar">
        <img src="image/website logo.png" class="websitelogo">
        <div class="nav-wrapper">
        <a href="/" class="navs">Home</a>
        <a href="/about" class="navs">About</a>
        </div>
    </div>
    <div class="subbody">
        <div class="login-container">
		<h1>Login</h1>
		<form action="/login" method="post">
			<p th:if="${error}" style="color: red" th:text="${error}"></p>
			<p th:if="${correct}" style="color: green" th:text="${correct}"></p>
			<label for="email" class="email">Email:</label> 
            <input type="email" id="email" name="email" required> 
            <label for="password" class="password">Password:</label>
			<input type="password" id="password" name="password" required>
			<button type="submit">Login</button>

			<div class="container">
				<span>Don't have an account? <a href="/signup">Sign up</a></span>
			</div>
		</form>
	</div>
    </div>
	<div class="footer">
        ⓒ2024 | Sundar Travels | All Right Reserved
    </div>
</body>
</html>
